.img-circle {
    border-radius: 50%;
}
.img-user {
   
    max-width: 100%;
    height: auto;
}
.txt-user {
}
.order {
    color: black;
    margin: 5px;
}
.order:hover {
  cursor: pointer;
  background: #dbdbff;
}
.test-border {
    border: 1px solid red;
}