<hr>
<div class="row">

  <div class='col-xs-1'></div>

  <div *ngIf="_hub.user$" class="col-xs-2 col-centered">
    <img src="{{ user.photoURL }}" class="img-circle img-user"><br>
    <h3 class="txt-user"> {{ _hub.user.displayName }} </h3>
    <p class="txt-user"> {{ _hub.user.email}} </p><br>
  </div>

  <div class='col-xs-1'></div>  
  <div class="col-xs-8">
    <up-btcheckoutform></up-btcheckoutform>
  </div>
  <div class="col-xs-8">
    <upcheckoutform></upcheckoutform>
  </div>
  <div class="col-xs-7">
    <orders-fragment [orders]="orders"></orders-fragment>
  </div>

</div>
