
<div class="fluid-container">
<div class = "row upheader-box">

  <div class="col-md-1 uplogo-container"></div>

  <div class= "col-md-8">
      <div class="upheader-content upheader-title"><h1>{{ title }}</h1></div>      
  </div>

  <div class= "col-sm-3">
    <div class="row">

        <div class= "col-sm-6">
            <div *ngIf="isLoggedIn" class="logged-in-status" >
              Logged in as: <br>
              {{ user.displayName }}
            </div>
          </div>
        
          <div class= "col-sm-6"> 
            <div *ngIf="isLoggedIn" class="" >
              <img src="{{ user.photoURL }}" class="img-user">
            </div>
          </div>

    </div>      
  </div>


  

  <!-- <div class= "col-md-1"> 
  </div>       -->
  
</div><br>
<div class = "row">
  <div class= "col-md-12">
    <div *ngIf="isLoggedIn" class="upheader-navbar">
      <ul>
        <li *ngFor="let link of links" 
          class="upheader-nav-button test-border" 
          (click)="go(link.address)">
            {{ link.label }}  
        </li>
      </ul>
    </div>
  </div>
</div>
</div>



<!-- 
    <div class="row upheader-title test-border">
      <div class="col-md-8">{{ title }}</div>
      <div *ngIf="isLoggedIn" class="col-md-3 logged-in-status" >
        Logged in as: <br>
        {{ user.displayName }}
      </div>
      <div *ngIf="isLoggedIn" class="col-md-1" >
        <img src="{{ user.photoURL }}" class="img-user">
      </div>
    </div>

    <div *ngIf="isLoggedIn" class="row upheader-navbar test-border">
      <div class="col-md-12">
        <ul>
          <li *ngFor="let link of links" 
          class="upheader-nav-button test-border" 
          (click)="go(link.address)">
            {{ link.label }}  
          </li>
        </ul>
      </div>
    </div>

  </div>
</div> -->