
<!--<div class="fluid-container">-->
<div class = "row upheader-box test-border">

  <div class="col-md-1 test-border uplogo-container"></div>

  <div class= "col-md-10 upheader-content test-border">  

    <div class="row upheader-title test-border">
      <div class="col-md-4">{{ title }}</div>
      <div *ngIf="loggedIn" class="col-md-2 logged-in-status" >
        Logged in as: <br>
        {{ user.displayName }}
      </div>
      <div *ngIf="loggedIn" class="col-md-1" >
        <img src="{{ user.photoURL }}" class="img-user">
      </div>
    </div>

    <div *ngIf="loggedIn" class="row upheader-navbar test-border">
      <div class="col-md-12">
        <ul>
          <li *ngFor="let link of links" 
          class="upheader-nav-button test-border" 
          (click)="onClick(link.address)">
            {{ link.label }}  
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>