.login-panel {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    align-content: center;
    border: 1px solid #78b424;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.row-centered {
    text-align:center;
}

.login-input {
width: 90%; 
}