<div class="col-md-7">
  <!-- Product List -->
  <div class="title">Product List</div>
  <ul class="product-list">
    <li *ngFor="let product of productList">
      <product-listing input [product]="product"></product-listing>
    </li>
  </ul>
  <div class="button-small" (click)="editProduct()">
    Edit
  </div>
  <div class="button-small" (click)="newProduct()">
    New
  </div>
</div>
<div class="col-md-5">
  <div *ngIf="!_hub.editingNewProduct">
    <item-detail></item-detail>
  </div>
  <div *ngIf="_hub.editingNewProduct">
    <new-product-detail input [editingTitle]="editingTitle"></new-product-detail>
  </div>  
</div>
