/* image effects: https://www.w3schools.com/css/css3_images.asp */
.title{
  height: inherit;
  color: rgb(90, 90, 90);  
  /* margin: auto auto; */
  font-size: 6em;
  font-weight: 100;
}
.subtitle{
  height: 35px;
  /* color: rgb(80, 80, 80);   */
  color: rgb(252, 15, 15);  
  margin: 0px 0px;
  font-size: 30px;
  font-weight: 100;
}
.text{
  height: 25px;
  color: rgb(252, 15, 15);  
  /* color: rgb(80, 80, 80); */
  margin: 0px 0px;
  font-size: 20px;
  font-weight: 100;
}
.clicked {
    color: red;
}
.test-border{
    /* border: .5px solid red; */
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.button-big {
  background-color: rgba(0, 58, 248, 0.1);  
  /* border: 1px solid rgb(127, 153, 253);  */
  border-radius: .5em;
  padding: 2em 2em;
  width: 30em;
  max-width: 90%;
  margin: 1em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button-big:hover {
  background-color: rgba(0, 58, 248, 0.356); 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.tile-item {
  width: 30em;
  max-width: 90%;
  margin: 1em 1em;
  text-align: left;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 25px;
  padding: .5em 1em .5em 1em;  
  background-color: rgba(255, 255, 255); 
  border: 3px solid rgba(255, 255, 255);
  border-radius: .25em;
  box-shadow: 0 1px 6px 0 rgba(255, 255, 255), 0 7px 10px 0 rgba(255, 255, 255);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.tile-item:hover {
  padding: .5em 1em .5em 1em;  
  margin-left: -3em;
  color: rgb(90, 90, 90);
  background-color: rgba(246, 255, 124, 0.9); 
  border: 3px solid rgba(249, 255, 128, 0.3);
  border-radius: .25em;
  /* box-shadow: 0 1px 6px 0 rgba(0,0,0,0.5), 0 7px 10px 0 rgba(0,0,0,0.2); */
}
.tile-item-detail {
  background-color: rgb(255, 255, 255);  
  /* border: 1px solid rgb(127, 153, 253);  */
  /* border-radius: .5em; */
  padding: 2em 2em;
  width: 90%;
  min-height: 20em;
  margin: 1em 1em;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.product-list {
  list-style: none;
}
/* Header */
  .upheader-content {
    /* margin-left:20px;     */
  }
  .upheader-box{
    background-color: rgb(212, 223, 255);
    height: auto;
    width: 120%;
  }
  .uplogo-container {
    height: 10em;
    width: 130px;
    background: url(/assets/UpdraftIcon01.png) no-repeat center center/70%;
    /* margin: 0px 0px 0px 20px; */
    /* align-content: center; */
    /* text-align: center; */
  }
  .upheader-title{
    text-align: center;
    margin-left:-5em;
  }
  .upheader-subtitle{
    text-align: center;
    color:rgb(82, 82, 82);
  }
  .logged-in-status{
    text-align: right;
    vertical-align: bottom;
    font-size: 1.2em;
    font-weight: 200;
    color: rgb(90, 90, 90);  
    padding: 1em;
    }
  .logged-in-status a {
    color: rgb(82, 82, 82);
    font-size: 3em;
  }
  .logged-in-status a:hover {
    background-color: rgba(0, 58, 248, 0.356); 
    color: rgb(38, 0, 255);
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
  }
  .img-user {
    border-radius: 100%;
    max-width: 9em;
    height: auto;
    padding: 1em;    
  }
  .upheader-navbar{
    text-align: right;
    font-size: 20px;
    font-weight: 400;
  }
  .upheader-navbar > ul > li {
      display: inline-block;
      margin-right: 40px;
  }
  .upheader-nav-button {
    color: #BCAAA4;
  }
    /* Change the link color on hover */
  .upheader-nav-button:hover {
      color: #D7CCC8;
      cursor: pointer;
  }
/* Login Component */
.login-panel {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    width: 50%;
    align-content: center;
    /* border: 1px solid #78b424; */
    font: normal normal lighter 45px/50px 'Calibri', sans-serif; 
}
.login-input {
width: 90%; 
font: normal normal lighter 45px/60px 'Gerogia', sans-serif;
height: auto;
}
.user-pane {
  width: 80%; 
  font: normal normal lighter 45px/60px 'Gerogia', sans-serif;
  height: auto;
}
.user-photo {
  border-radius:50%;
  margin: 1em auto;
  max-width: 100%;

}
