<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="title">
        TOTAL: ${{ order.total.toFixed(2) }}
      </div>
      <br>
      <div>
        <label for="txteanucc13">Enter EAN/USS-13 Number:</label>   
        <button id="btnAddItem" class="btn btn-action" (click)="addItem(txteanucc13)" >Add Item</button>
        <br><br>
        <input id="txteanucc13" class= "input-sm login-input" type="text" placeholder="eanucc13 #">
        <br>
      </div>
      <br><br>
      <ol class="">
        <li *ngFor="let item of order.items" 
          class="tile-item" 
          (click)="click(item)"
          (mouseenter)="mouseenter(item)">
          <div >
            <b>{{ item.displayName }}</b><br>
            Price: ${{ item.price.toFixed(2) }}     Quantity: {{ item.quantity }}
          </div>
        </li><br>
      </ol><br>

    </div> 

    <div class="col-md-5">
      <div class = "tile-item-detail">
        <b>{{ item.displayName }}</b><br>
        Cost: ${{ item.cost.toFixed(2) }}<br>
        Price: ${{ item.price.toFixed(2) }}<br>
        Margin: ${{ ((item.price*100-item.cost*100)/100).toFixed(2) }}<br>
        eanucc13: {{ item.eanucc13 }}<br>
        upca {{ item.upca }}<br>
        Description: {{ item.description }}<br>
        {{ detail }}<br>
      </div>
    </div>
  </div>